.carousel-inner {
    display: flex;
    justify-content: space-around;
    
}
.carousel-item img{
    
    height: 400px;
}
.main {
    grid-area: main;
    background-image: url("../img/Fondogeneral.jpg");
    background-attachment:fixed;
    background-size:cover;
    height: 1500px;
    
    
    
}
/*Ventana Index*/
.main__presentacion{
    font-size: 4rem;
    text-align: center;
    padding: 30px;
}
h2{
    font-size: 3rem;
    text-align: center;
    padding: 20;
}


.card{
    
    background-image: linear-gradient( 45deg, $color-nav,$color-nav,rgb(248, 38, 38) );
    border: solid 1px rgb(0, 0, 0);
    border-radius: 10px;
}
.card:hover{
    box-shadow: 0 40px 40px rgb(245, 229, 9);
}

.card img{
    width: 100%;
    height: 200px;
}

